<div class="wrapper">
   <div class="contant">
      <div class="contant__logo">
         <a routerLink="/home"><img src="assets/logo.jpg" alt=""></a>
      </div>
      <nav class="contant__nav-nav">
         <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a> </li>
            <li><a routerLink="/catalog" routerLinkActive="active">Catalog</a> </li>
            <li><a  routerLink="/admin" routerLinkActive="active">Admin</a> </li>
            <li><a routerLink="/sing-in" routerLinkActive="active">Sing in</a> </li>
            <li><a routerLink="/busket"><img src="assets/busket.png" alt="">{{countProduct.length}}</a> </li>
         </ul>
      </nav>
   </div>
</div>