<div class="wrapper">
   <div class="forma">
      <form (ngSubmit)="OnSubmit(registerForm)" #registerForm="ngForm">
         <div class="title">Registration</div>
         <div class="input-block">
            <span class="p-float-label">
               <input autofocus pInputText type="text" #userName (input)="getUserVal(userName)" required>
               <label for="float-input">Username</label>
            </span>
         </div>
         <div class="input-block">
            <span class="p-float-label">
               <input pInputText type="text" #password (input)="getPassVal(password)" required>
               <label for="float-input">Password</label>
            </span>
         </div>
        
         <div class="btns">
            <button routerLink="/sing-in">Cancel</button>
            <button  [disabled]="registerForm.invalid" type="submit" >Register</button>
         </div>
      </form>
      <p class="success">{{success}}</p>
   </div>
</div>