<div class="wrapper">
   <div class="wrapper__container">
      <div class="wrapper__title">welcome to the best online shop in the world!</div>
      <div class="wrapper__subtitle">
         here is you will found all what you want and even more.
      </div>
      <div class="wrapper__contant-contant">
         <div class="contant__block">
            <div class="contant__img"><img src="assets/1.png" alt=""></div>
            <div class="contant__info">
               Retail marketing helps your business expand its reach, connect with customers, nurture relationships and tell your brand story. It can also be used to differentiate yourself from your competition. 
               Fortunately, marketing isn’t just a luxury for large businesses with big budgets. There are tons of marketing options that can help retail businesses in every industry and size reach their audience, regardless of budget or experience. 
               In this article, we explain 8 different marketing strategies and promotion ideas for retail businesses and discuss how to choose which will be best for you:
            </div>

         </div>
         <div class="contant__block">
            <div class="contant__info">
               So, if you haven’t done so yet, spend time thinking about your brand aesthetic. Ask yourself, what kind of first impression do you want people to have about your brand?  Find the answer then figure out how to make it come to life on your Instagram page.
               Use Instagram Stories
               Instagram Stories allow you to be more informal with your aesthetic, as people expect Stories to be more spontaneous and less curated. You can use them to give people behind-the-scenes glimpses at your store or showcase new products.
               A secondary feature of Instagram Stories is that you can create a few permanent ones to display on your profile, highlighting things you really want your potential customers to see. Check out what Peridot Decorative Homeware is doing. The retailer uses these permanent Story spots to make it easy for people to view interior designs, shop for items, and more. They even created custom Story cover images to make them look more attractive!
            </div>
            <div class="contant__img"><img src="assets/2.png" alt=""></div>
            

         </div>
         <div class="contant__block">
            <div class="contant__img"><img src="assets/3.png" alt=""></div>
            <div class="contant__info">
               Be patient
               The Pinterest algorithm doesn’t necessarily surface your content quickly. It can often take up to 6 months for your content to really start appearing in people’s feeds.

               This means that, while you should be pinning your products, pages that will do best for you organically are likely to be links to your blog posts.

               You can write blog posts specifically for Pinterest, such as gifting guides that help get your brand lift and will then direct your customers on to your correct pages all year round. As for products, they’ll do great on Pinterest in ad form.

               Marketing on TikTok
               TikTok is taking the social media world by storm. As one of the world’s fastest growing apps, TikTok became the first non-Facebook owned app to reach 3 billion installs globally. 

               The short form video format combined with TikTok’s interest-based algorithm makes the platform very small-business friendly. If you’re comfortable in front of the camera or have someone on your team who is, all you need is a smartphone and our tips and tricks to get your business seen by thousands. 
            </div>

         </div>
      </div>

   </div>
</div>